<%- include("header") -%>
<!--  ======================= Start Header Area ============================== -->

  <header class="header_area">
      <div class="main-menu">
          <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#"><img src="./img/logoayush.png" width=75px alt="logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <div class="mr-auto me-auto"></div>
                  <ul class="navbar-nav">
                      <li class="nav-item ">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#about">about</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#services">services</a>
                      </li>


                  </ul>
              </div>
          </nav>
      </div>
  </header>

  <!--  ======================= End Header Area ============================== -->

  <!--  ======================= Start Main Area ================================ -->
  <main class="site-main">


      <!--  ======================= Start Banner Area =======================  -->
      <section class="site-banner">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-12 site-title">
                      <h3 class="title-text">Hey</h3>
                      <h1 class="title-text text-uppercase">I am Ayush Tiwari</h1>
                      <h4 class="title-text text-uppercase">Marketing Enthusiast | CAT ASPIRANT</h4>
                      <h4 class="title-text text-uppercase" margin=5px>An Undergrad Student from NIT RAIPUR</h4>


                  </div>
                  <div class="col-lg-6 col-md-12 banner-image">
                      <img src="./img/ayush1.jpg" alt="banner-img" class="img-fluid" width = "800px" height="800px"
                      boder-radius = "50%">
                  </div>
              </div>
          </div>
      </section>
      <!--  ======================= End Banner Area =======================  -->

      <!--  ========================= About Area ==========================  -->

      <section class="about-area">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="about-image">
                          <img src="./img/ayush2.jpg" alt="About us" class="img-fluid" width = 800px>

                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12 about-title">
                      <h2 class="text-uppercase pt-5">
                          <span>Let me</span>
                          <span>introduce</span>
                          <span>myself</span>
                      </h2>
                      <div class="paragraph py-4 w-75">
                          <p class="para">
                               I am Ayush Tiwari,  5th Semester Chemical Engineering,  I am a CAT Aspirant and a Marketing enthusiast and some interest in finance, I have 9.12 CPI upto 4rth Semester,  my career will be based on marketing manager background. I will do all the possible things which are related to my career growth.
                          </p>

                      </div>
                      <a href="https://drive.google.com/file/d/1nyMrcuhPjnDW5I-_0Nlhcb1TR8u6jRS_/view?usp=sharing">
                      <button type="button" class="btn button primary-button text-uppercase">Download cv</button>
                      </a>
                  </div>
              </div>
          </div>
      </section>

      <!--  ========================= End About Area ==========================  -->

      <!--  ======================== Brand Area ==============================  -->

      <section class="brand-area">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-xl-6 col-lg-12 col-md-12">
                      <div class="first-row row">

                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-md-12">
                      <div class="experience-area">
                          <div class="d-flex flex-row years-area">
                              <h2 class="p-3 years">01</h2>
                              <h2>
                                  <span>Years</span>
                                  <span>Experience</span>
                                  <span>Working</span>
                              </h2>
                          </div>
                          <div class="d-flex flex-row flex-wrap call-area">
                              <span><i class="fas fa-phone-alt fa-3x px-3"></i></span>
                              <div class="call-now">
                                  <a href="#" class="text-uppercase h4 font-roboto">Call Now</a>
                                  <span class="font-roboto py-2">(+91)-9131098438</span>
                              </div>
                          </div>
                          <div class="bg-panel"></div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <!--  ======================== End Brand Area ==============================  -->


      <!--  ======================= Project Area =============================  -->

      <section id="services" class="project-area">
          <div class="container">
              <div class="project-title pb-5">
                  <h1 class="text-uppercase title-h1">Services</h1>
                  <h1 class="text-uppercase title-h1"></h1>
              </div>


              <div class="row grid">
                  <div class="col-lg-4 col-md-6 col-sm-12 element-item latest">
                      <div class="our-project">
                          <div class="img">
                              <a class="test-popup-link" href="./img/finance.jpg">
                                  <img src="./img/finance.jpg" alt="portfolio-1" class="img-fluid">
                              </a>
                          </div>
                          <div class="title py-4">
                              <h4 class="text-uppercase">Finance</h4>
                              <span class="text-secondary">It is a broad term that describes activities associated with banking, leverage or debt, credit, capital markets, money and investment</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 element-item popular">
                      <div class="our-project">
                          <div class="img">
                              <a class="test-popup-link" href="./img/marketing.jpg">
                                  <img src="./img/marketing.jpg" alt="portfolio-2" class="img-fluid">
                              </a>
                          </div>
                          <div class="title py-4">
                              <h4 class="text-uppercase">Marketing</h4>
                              <span class="text-secondary">The activity of showing and advertising the company's products in the best possible way.</span>
                          </div>
                      </div>
                  </div>

                  </div>
              </div>

      </section>

      <!--  ======================= End Project Area =============================  -->

      <!--  ======================== About Me Area ==============================  -->
      <section id="about" class="about-area">
          <div class="container">
              <div class="row text-center">
                  <div class="col-12">
                      <div class="about-title">
                          <h1 class="text-uppercase title-h1">About Me</h1>
                          <p class="para">
                              Brief points about me


                          </p>
                      </div>
                  </div>
              </div>
          </div>


          <div class="container carousel py-lg-5">
              <div class="owl-carousel owl-theme">
                  <div class="client row">
                      <div class="col-lg-4 col-md-12 client-img">
                          <img src="img/bgg.jpg" alt="img1" class="img-fluid">
                      </div>
                      <div class="col-lg-8 col-md-12 about-client">
                          <h4 class="text-uppercase">Personal Interests</h4>
                          <p class="para">Travelling<br>
                              Car Driving<br>
                              Singing<br>

                              </p>
                      </div>
                  </div>
                  <div class="client row">
                      <div class="col-lg-4 col-md-12 client-img">
                          <img src="img/lappy.jpg" alt="img2" class="img-fluid">
                      </div>
                      <div class="col-lg-8 col-md-12 about-client">
                          <h4 class="text-uppercase">Professional Interests</h4>
                          <p class="para">Book Reading<br>
                              Solving Questions <br>
                              Puzzles Solving
                          </p>
                      </div>
                  </div>
                  <div class="client row">
                      <div class="col-lg-4 col-md-12 client-img">
                          <img src="img/specs.jpg" alt="img1" class="img-fluid">
                      </div>
                      <div class="col-lg-8 col-md-12 about-client">
                          <h4 class="text-uppercase">Languages Known</h4>
                          <p class="para">
                              Hindi<br>
                              English
                          </p>
                      </div>
                  </div>
                  <div class="client row">
                      <div class="col-lg-4 col-md-12 client-img">
                          <img src="img/bground.jpg" alt="img2" class="img-fluid">
                      </div>
                      <div class="col-lg-8 col-md-12 about-client">
                          <h4 class="text-uppercase">Skills</h4>
                          <p class="para">Public Speaking<br>
                              Decision Making<br>
                              Leadership<br>
                              Communications<br>

                          </p>
                      </div>
                  </div>


              </div>
          </div>

      </section>

      <!--  ======================== End About Me Area ==============================  -->

      <!--  ========================== Subscribe me Area ============================  -->
      <section class="subscribe-us-area">
          <div class="container subscribe">
              <div class="row">
                  <div class="col-lg-12 text-center subscribe-title">
                      <h4 class="text-uppercase">Get Update From anywhere</h4>
                      <p class="para">Just do Subscribe...</p>
                  </div>
              </div>
              <div class="d-sm-flex justify-content-center">
                  <form class="w-50">
                      <div class="row d-flex flex-row flex-wrap">
                          <div class="col input-textbox">
                              <input type="text" id="txtemail" class="form-control" placeholder="Email">
                          </div>
                          <div class="col">
                              <div class="btn-submit">
                                  <button type="submit" class="btn btn-success float-right">Subscribe</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </section>
      <!--  ========================== End Subscribe me Area ============================  -->


    </main>
    <!--  ======================= End Main Area ================================ -->

    <footer class="footer-area">
      <div class="container">
          <div class="">

              <div class="social text-center">
                  <h5 class="text-uppercase">Follow me</h5>

                  <a href="https://www.linkedin.com/in/ayush-tiwari-2a8aa1192"><i class="fab fa-linkedin"></i></a>

              </div>
              <div class="copyrights text-center">
                  <p class="para">
                      Copyright ©2021 All rights reserved |

                  </p>
              </div>
          </div>
      </div>
    </footer>


    <!--  Jquery js file  -->
    <script src="./js/jquery.3.4.1.js"></script>

    <!--  Bootstrap js file  -->
    <script src="./js/bootstrap.min.js"></script>

    <!--  isotope js library  -->
    <script src="./vendor/isotope/isotope.min.js"></script>

    <!--  Magnific popup script file  -->
    <script src="./vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>

    <!--  Owl-carousel js file  -->
    <script src="./vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!--  custom js file  -->
    <script src="./js/main.js"></script>

    <%- include("footer") -%>
