<%- include("header") -%>

<!--  ======================= Start Header Area ============================== -->

  <header class="header_area">
      <div class="main-menu">
          <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand logo-img" href="#"><img src="./img/logo.png" width=150px; alt="logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <div class="mr-auto me-auto"></div>
                  <ul class="navbar-nav">
                      <li class="nav-item  nav-dsgn">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#about">ABOUT</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#exp">EXPERIENCE</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#skills">SKILLS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#contact">Contact</a>
                      </li>

                  </ul>
              </div>
          </nav>
      </div>
  </header>



  <!--  ======================= End Header Area ============================== -->

  <!--  ======================= Start Main Area ================================ -->
  <main class="site-main">

      <div id="home">
      <!--  ======================= Start Banner Area =======================  -->
      <section class="site-banner">
          <div class="container">
              <div class="row banner-modify">
                  <div class="col-lg-6 col-md-12 site-title">
                      <h3 class="title-text">Hey there</h3>
                      <h2 class="title-text text">This is me, </h2>
                      <h2 class="title-text text-uppercase">Priyanshi Parida</h2>
                      <h4 class="title-text text">Competitive coder</h4>
                      <h4 class="title-text text">A Chemical Engineering undergrad Student from NIT RAIPUR</h4>


                  </div>
                  <div class="col-lg-6 col-md-12 banner-image" id="bnrimg">
                      <img src="./img/601.jpg" alt="banner-img" class="img-fluid" id="my-img1">

                  </div>
              </div>
          </div>
      </section>
      </div>
      <!--  ======================= End Banner Area =======================  -->

      <!--  ========================= About Area ==========================  -->
      <div id="about">
      <section class="about-area">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-6 col-md-12">
                      <div class="about-image">
                          <img src="./img/about.jpg" alt="About me" class="img-fluid">
                          <style>

                          </style>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-12 about-title">
                      <h2 class="text-uppercase pt-5">
                          <span>ABOUT ME</span>

                      </h2>
                      <div class="paragraph py-4 w-75">
                          <p class="para">
                              Hello,this is Priyanshi Parida.
                              I am currently a third year undergraduate student of Chemical engineering, NIT RAIPUR( 2023 Batch).

                          </p>
                          <p class="para">
                              I'm a hardworking, diligent and motivated individual aiming to enhance my current technical skills and
                              knowledge and prove my worth.I have a keen interest in learning new technology.
                          </p>
                      </div>


                          <a href="https://drive.google.com/file/d/1Va5Hvz5smvvHYY1AP3Gx6U_-2GWWePxY/view?usp=sharing" download="Priyanshi Parida Resume">
                              <button type="button"  class="btn button primary-button text-uppercase">
                              Download cv
                              </button>
                            </a>


                  </div>
              </div>
          </div>
      </section>
  </div>


      <!--  ========================= End About Area ==========================  -->
      <!--EXPERIENCE -->
      <div id="exp">

      <section class="py-8 py-md-11 border-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center services-title">

                   <h3 class="title-text" style="text-align: center;">EXPERIENCE AND POSITIONS </h3>

                  </div>

              </div>
              <br><br>
            <div class="row">

              <div class="col-12 col-md-4" data-aos="fade-up">

                <!-- Icon -->
                <img src="https://img.icons8.com/external-inipagistudio-mixed-inipagistudio/64/000000/external-mentor-coaching-and-mentoring-inipagistudio-mixed-inipagistudio.png" height="30"/>
                <!-- Heading -->
                <h3>
                  MENTOR
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  Mentor at SAHYOG- The Mentorship club, NIT RAIPUR <br>

                  (Oct 2020- Present)
                </p>

              </div>
              <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

                <!-- Icon -->
                <img src="./img/coordination.png" height="40"/>
                <!-- Heading -->
                <!-- Heading -->
                <h3>
                  COORDINATOR
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  COORDINATOR at NRITYAM, NIT RAIPUR <br>
                  (Aug 2019- June 2021)
                </p>


              </div>

              <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

                  <!-- Icon -->
                  <img src="https://img.icons8.com/fluency/48/000000/female-working-with-a-laptop.png" height="30"/>
                  <!-- Heading -->
                  <!-- Heading -->
                  <h3>
                    FREELANCER
                  </h3>

                  <!-- Text -->
                  <p class="text-muted mb-6 mb-md-0">
                      SME EXPERT(Team Lead) in Chemistry,
                      Chegg India, Kunduz Tutors (2020- Present)
                  </p>


                </div>

              <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">

                <!-- Icon -->
                <div class="icon text-primary mb-3">
                  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"/></g></svg>            </div>

                <!-- Heading -->
                <h3>
                  FRONT END DEVELOPMENT INTERN
                </h3>

                <!-- Text -->
                <p class="text-muted mb-0">
                  Frontend Development Intern at TechTable
                  <br> Skills used : HTML, CSS, JS.
                  <br>
                  (Feb 2021-June 2021)

                </p>

              </div>
            </div> <!-- / .row -->
          </div> <!-- / .container -->
        </section>
      </div>
      <!-- END EXPERIENCE AND POSITIONS-->

     <div id="skills">
      <section class="services-area" style="padding: 7px 2em;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center services-title">
                      <h1 class="text-uppercase title-text">SKILLS</h1>
                  </div>
              </div>
              <div class="container services-list">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="services">
                              <div class="sevices-img text-center py-4">
                                  <img src="./img/cp.png" alt="c++" height="100">
                              </div>
                              <div class="card-body text-center">
                                  <h5 class="card-title text-uppercase font-roboto">C++ </h5>
                                  <p class="card-text text-secondary">

                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="services">
                              <div class="sevices-img text-center py-4">
                                  <img src="./img/web-development.png" alt="Web Development" height="100">
                              </div>
                              <div class="card-body text-center">
                                  <h5 class="card-title text-uppercase font-roboto">WEB DEVELOPMENT</h5>
                                  <p class="card-text text-secondary">

                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="services">
                              <div class="sevices-img text-center py-4">
                                  <img src="./img/sql.png" alt="SQL" height="100">
                              </div>
                              <div class="card-body text-center">
                                  <h5 class="card-title text-uppercase font-roboto">SQL</h5>
                                  <p class="card-text text-secondary">

                                  </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="services">
                              <div class="sevices-img text-center py-4">
                                  <img src="./img/illustration.png" alt="Services-4" height="100">
                              </div>
                              <div class="card-body text-center">
                                  <h5 class="card-title text-uppercase font-roboto">Illustrator</h5>
                                  <p class="card-text text-secondary">

                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
     </div>

      <!--  ====================== End Services Area =============================  -->

      <!--  ======================= Project Area =============================  -->

      <section class="project-area">
          <div class="container">
              <div class="project-title pb-5">
                  <h1 class="text-uppercase title-h1">Recently Done Project</h1>

              </div>

              <div class="row grid">
                  <div class="col-lg-4 col-md-6 col-sm-12 element-item latest">
                      <div class="our-project">
                          <div class="img">
                              <a class="test-popup-link" href="./img/project1.jpg">
                                  <img src="./img/project1.jpg " height="50" alt="portfolio-1" class="img-fluid">
                              </a>
                          </div>
                          <div class="title py-4">
                              <h4 class="text">TechTable Mentorship Page</h4>

                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 element-item popular">
                      <div class="our-project">
                          <div class="img">
                              <a class="test-popup-link" href="./img/project2.jpg">
                                  <img src="./img/project2.jpg" alt="portfolio-2" class="img-fluid">
                              </a>
                          </div>
                          <div class="title py-4">
                              <h4 class="text">Weather Website</h4>

                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 element-item popular">
                      <div class="our-project">
                          <div class="img">
                              <a class="test-popup-link" href="./img/project3.jpg">
                                  <img src="./img/project3.jpg" alt="portfolio-3" class="img-fluid">
                              </a>
                          </div>
                          <div class="title py-4">
                              <h4 class="text">Another Portfolio</h4>

                          </div>
                      </div>
                  </div>


              </div>
          </div>
      </section>

      <!--  ======================= End Project Area =============================  -->



  </main>
  <!--  ======================= End Main Area ================================ -->
  <div id="contact">
  <footer class="footer-area">
      <div class="container">
          <div class="">
              <div class="site-logo text-center py-4">
                  <a href="#"><img src="./img/logow.jpg" boder-radius=25% width="150px" alt="logo"></a>
              </div>
              <div class="social text-center">
                  <h5 class="text-uppercase">Follow me</h5>
                  <a href="..">
                      <img src="https://img.icons8.com/fluency/48/000000/github.png"/>
                  </a>
                  <a href="https://www.instagram.com/">
                      <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/>
                  </a>

                  <a href="https://in.linkedin.com">
                      <img src="https://img.icons8.com/color/50/000000/linkedin.png"/>
                  </a>
                  <a href="https://www.facebook.com/">
                      <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                  </a>
              </div>
              <div class="copyrights text-center">
                  <p class="para">
                      Copyright ©2021 All rights reserved | Designed by :
                      <a href="#"><span style="color: var(--primary-color);">PRIYANSHI PARIDA</span></a>
                  </p>
              </div>
          </div>
      </div>
  </footer>
  </div>


  <!--  Jquery js file  -->
  <script src="/js/jquery.3.4.1.js"></script>

  <!--  Bootstrap js file  -->
  <script src="/js/bootstrap.min.js"></script>

  <!--  isotope js library  -->
  <script src="/vendor/isotope/isotope.min.js"></script>

  <!--  Magnific popup script file  -->
  <script src="/vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>

  <!--  Owl-carousel js file  -->
  <script src="/vendor/owl-carousel/js/owl.carousel.min.js"></script>

  <!--  custom js file  -->
  <script src="/js/main.js"></script>

<%- include("footer") -%>
